<p id="notice"><%= notice %></p>
<div class="user-header-wrapper">
  <div class="user-name-wrapper">
    <h1> <%= "#{@user.name}" %></h1>
  </div>
  <div class="user-email-wrapper">
    <p> <%= "#{@user.email}" %></p>
  </div>
</div>
<div class="user-properties-group-wrapper">
  <% @user.properties.each do |property|%>

    <tr>
      <div class="user-property-link">
        <%= link_to "#{property.number} #{property.street}, #{property.city}", property %>
      </div>
    </tr>
  <% end %>
</div>
<div class="footer-wrapper shared-bar">
  <div class="footer-link">
    <%= link_to "Home", root_path %>
  </div>
  <div class="footer-link">
    <%= link_to 'New Property', new_property_path(user_id: @user.id) %>
  </div>
  <div class="footer-link">
    <%= link_to 'Edit User', edit_user_path(@user) %>
  </div>
  <div class="footer-destroy-link">
    <%= link_to 'Destroy User', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
