<p id="notice"><%= notice %></p>

<h1>Test Holes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @test_holes.each do |test_hole| %>
      <tr>
        <td><%= link_to 'Show', test_hole %></td>
        <td><%= link_to 'Edit', edit_test_hole_path(test_hole) %></td>
        <td><%= link_to 'Destroy', test_hole, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="footer-wrapper shared-bar">
  <div class="footer-link">
    <%= link_to "Home", root_path %>
  </div>
</div>